<!-- Open Side Nav Button -->
<button class="opensidenav" (click)="onMenu()">&#9776;</button>
<p>
  <!-- Navigation bar -->
<div [ngStyle]="{'width':widthVal}" class="sidenav">
  <!-- Close side Nav Button -->
  <button class="closesidenav" (click)="offMenu()">&#9776;</button>
  <!-- Navigation links -->
  <a href="">Home</a>
  <a href="logincustomer()" routerLink="/login">Login</a>
  <a href="registercustomer()" routerLink="/register">Register</a>
  <br>
  <!-- Toggle for potential Dark Mode CSS switch -->
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>

</div>

<div [ngStyle]="{'width':widthVal}" class="sidenav">
  <!-- Close side Nav Button -->
  <button class="closesidenav" (click)="offMenu()">&#9776;</button>
  <!-- Navigation links -->
  <a href="">Home</a>
  <a href="logincustomer()" routerLink="/login">Login</a>
  <a href="registercustomer()" routerLink="/register">Register</a>
  <br>
  <!-- Toggle for potential Dark Mode CSS switch -->
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>

</div>